/*Below 1647px/16 103em */
@media (max-width: 103em) {
  .section-about {
    max-width: 163rem;
    padding-right: 6.4rem;
  }
}

/*Below 1474px/16 = 92 */
@media (max-width: 92em) {
  .about-description {
    padding: 0 4.4rem;
  }
}

/* *******************************
Below 1344px 84*16= 1344px (Smaller desktops)
******************************* */
@media (max-width: 84em) {
  .section-hero {
    max-width: 135rem;
  }

  .bold-name {
    font-size: 4.4rem;
  }

  .animated-title > div div {
    font-size: 5.2rem;
  }

  .hero {
    align-items: center;
  }

  .about-description {
    padding: 0 0.2rem;
  }

  .technologies-title {
    font-size: 3rem;
  }

  .portfolio-attribute {
    font-size: 1.6rem;
  }
  .portfolio-content {
    padding: 6.4rem 3.2rem;
  }
}

/* Below 1315px /16 82 */
@media (max-width: 92em) {
  .about-description {
    font-size: 1.9rem;
  }
}

/* Below 1200px (Landscape Tablets) 1200 / 16 = 75 */
@media (max-width: 75em) {
  html {
    /* 9px/16px= 56.25% */
    font-size: 56.25%;
  }

  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .portfolio-attribute {
    font-size: 1.4rem;
  }

  .technologies-title {
    font-size: 3rem;
    font-weight: 500;
  }

  .tech-icon {
    padding: 0.4rem;
  }

  .portfolio-content {
    padding: 4.8rem 1.6rem;
    font-size: 2rem;
    line-height: 1.2;
  }
}

/* Below 944px/16 60em*/

@media (max-width: 59em) {
  /* 8px/16px = 0.5 = 50% */
  html {
    font-size: 50%;
  }

  .portfolio-attribute {
    font-size: 1.4rem;
  }

  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }

  .technologies-title {
    font-size: 3rem;
    letter-spacing: 0.5px;
  }

  .portfolio-content {
    padding: 4.8rem 1.6rem;
    font-size: 2rem;
    line-height: 1.2;
  }

  .hero {
    flex-direction: column;
  }

  /* Mobile Navigation */
  .btn-mobile-nav {
    display: block;
    z-index: 999;
  }

  /* normally we have to put position relative the parent
  but in this case we dont have to */
  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    /* transition value(property, time, type ex. ease-out/in) */
    transition: all 0.5s ease-in;
    /* when we use transform: translateX(100%) it creates a horizontal scrollbar 
    to the right, to fix it add overflow-x: hidden; on body & html tag */
    transform: translateX(100%);

    /* Hide the navigation */
    /* Animation or transition is not possible when we use display none */
    /* display: none; */

    /* 1. Hide it visually */
    opacity: 0;

    /* 2. Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3. Hide it from screen readers */
    visibility: hidden;
  }

  /* We will do this only when the .nav-open exist then  
  .icon-mobile-nav[name="close-outline"] applies*/
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-open .main-nav {
    font-size: 4.6rem;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    background-color: #73c6b6;
    z-index: 10;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:hover,
  .main-nav-link:active {
    color: #e6e6e6;
  }

  .main-nav-link,
  .main-nav-visited {
    font-size: 3rem;
  }

  .hero-img {
    height: 29vh;
  }

  .copyright {
    line-height: 1.8rem;
  }
}

/* ***************** */

/* Below 858px/16 53em*/
@media (max-width: 53em) {
  .section-cta {
    padding: 12.8rem 4.8rem;
  }
  .section-skills {
    padding: 9.6rem 6.4rem;
  }
  .about-description {
    margin-bottom: 1rem;
  }

  .technologies-title {
    /* padding-bottom: 0; */
    padding: 2.4rem 2rem;
  }

  .tech-icon {
    padding: 1.2rem;
  }
  .portfolio-attribute {
    font-size: 2rem;
    padding-left: 4.8rem;
  }

  .grid-3-columns {
    grid-template-columns: 1fr;
  }

  .portfolio-img {
    height: 70%;
  }

  .footer {
    padding: 6.4rem 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }
  .frontend-backend {
    font-size: 3.6rem;
  }

  .section-about {
    padding: 9.6rem 3.2rem;
  }
}

/* Below 552px/16px = 34em (Phones) */
@media (max-width: 34em) {
  .section-skills {
    padding: 9.6rem 1.6rem;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .section-portfolio {
    padding-right: 1.6rem;
    padding-left: 1.6rem;
  }

  .section-cta {
    padding: 6.4rem 2.4rem;
  }

  .btn-form {
    margin-top: 1.2rem;
  }

  .footer {
    padding: 6.4rem 2.4rem;
  }

  .cta-text-box {
    padding: 4.8rem 3.2rem 4.8rem 3.2rem;
  }

  .grid {
    column-gap: 1.6rem;
  }

  .cta-form input {
    font-size: 1.6rem;
  }

  .grid-footer {
    justify-items: end;
    align-items: end;
  }

  .skills-text-box {
    text-align: center;
  }

  .scroll-down {
    padding: 4.8rem 0;
  }

  .grid-2-columns {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 0.8rem;
  }

  .center {
    padding: 4.8rem 0 0.8rem 0;
  }

  .skills-img-box:nth-child(1) {
    grid-row: 1;
  }

  .skills-img-box:nth-child(3) {
    grid-row: 5;
  }

  .backend-list {
    align-items: center;
  }

  .backend {
    justify-content: center;
  }

  .step-img {
    padding-bottom: 4.8rem;
    width: 80%;
  }

  .portfolio-attribute {
    font-size: 1.2;
  }
}
